<!DOCTYPE html>
<html lang="en">
    <head>
    	<!-- CSS Sheets -->
    	<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/signin.css" rel="stylesheet"> 
    </head>

    <body>
    <div id="particles-js"></div>
    <a href="/login">hi</a>
    <form id="overlay" class="form-signin" method="post" action="/login">
	    <div class="text-center mb-4">
		    <img class="logo" src="WRLogo.png" alt="" width="72" height="72">
		    <h1 class="text-light h3 mb-3 font-weight-normal">WR Tutoring Services</h1>
		    <p class="text-light">Please Log In</a></p>
	  	</div>

	  	<div class="form-label-group">
	    	<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
	    	<label for="inputEmail">Email address</label>
	  	</div>

	  	<div class="form-label-group">
	    	<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
	    	<label for="inputPassword">Password</label>
	  	</div>

	  	<!-- Not sure if we want to have this feature (Hassle on the backend) -->
	  	<!-- <div class="checkbox mb-3">
	    	<label>
	      	<input type="checkbox" value="remember-me"> Remember me
	    	</label>
	  	</div> -->

	  	<button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
	  	<div class="text-center">
	  	<p class="text-light prompt">Don't have an account yet?</a></p>
	  	</div>
	  	<button type="button" class="btn btn-lg btn-block btn-primary btn-light" onclick="location.href='/signup';">Tutor Application</button>
	  	<button type="button" class="btn btn-lg btn-block btn-primary btn-light" onclick="location.href='/signupTutee';">Tutee Sign Up</button>
	  	<!-- <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2019</p> -->
	</form>


		<script src="js/particles.js"></script>
    	<script src="js/app.js"></script>
    </body>

    
</html>